::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #4388c6;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4388c6;
}

::-webkit-scrollbar-track {
  border: 0;
}

::-webkit-scrollbar {
  width: 10px;
}
